<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".AdInformationThree"
            android:exported="false" />
        <activity
            android:name=".AdInformationTwo"
            android:exported="false" />
        <activity
            android:name=".AdInformationOne"
            android:exported="false" />
        <activity
            android:name=".loginScreen.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".menu.LoginMenu"
            android:exported="false" />
        <activity
            android:name=".Register3"
            android:exported="false" />
        <activity
            android:name=".registerScreen.Personalinformation"
            android:exported="false" />
        <activity
            android:name=".passwordScreen.PasswordChanged"
            android:exported="false" />
        <activity
            android:name=".passwordScreen.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".verificationScreen.OTPverification"
            android:exported="false" />
        <activity
            android:name=".passwordScreen.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".registerScreen.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".loginScreen.LoginPage"
            android:exported="false" />
        <activity
            android:name=".gif.splashgif"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginScreen.MainActivity"
            android:exported="false" />
    </application>

</manifest>