<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/evinkibris"
        android:label ="Evin Kıbrıs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="ExtraText"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".gunlukEv.gunlukKiralikEv3"
            android:exported="false" />
        <activity
            android:name=".gunlukEv.gunlukKiralikEv2"
            android:exported="false" />
        <activity
            android:name=".gunlukEv.gunlukKiralikEv"
            android:exported="false" />
        <activity
            android:name=".evArkadasi.evArkadasiFour"
            android:exported="false" />
        <activity
            android:name=".evArkadasi.evArkadasiThree"
            android:exported="false" />
        <activity
            android:name=".evArkadasi.evArkadasiTwo"
            android:exported="false" />
        <activity
            android:name=".evArkadasi.evArkadasiOne"
            android:exported="false" />
        <activity
            android:name=".yurt.YurtBilgiThree"
            android:exported="false" />
        <activity
            android:name=".yurt.YurtBilgiTwo"
            android:exported="false" />
        <activity
            android:name=".yurt.YurtBilgiOne"
            android:exported="false" />
        <activity
            android:name=".Informations.AdInformationFour"
            android:exported="false" />
        <activity
            android:name=".Onizleme"
            android:exported="false" />
        <activity
            android:name=".Informations.AdInformationThree"
            android:exported="false" />
        <activity
            android:name=".Informations.AdInformationTwo"
            android:exported="false" />
        <activity
            android:name=".Informations.AdInformationOne"
            android:exported="false" />
        <activity
            android:name=".loginScreen.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".loginScreen.LoginPage"
            android:exported="false" />
        <activity
            android:name=".Register3"
            android:exported="false" />
        <activity
            android:name=".registerScreen.Personalinformation"
            android:exported="false" />
        <activity
            android:name=".passwordScreen.PasswordChanged"
            android:exported="false" />
        <activity
            android:name=".passwordScreen.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".verificationScreen.OTPverification"
            android:exported="false" />
        <activity
            android:name=".passwordScreen.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".registerScreen.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".gif.splashgif"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginScreen.MainActivity"
            android:exported="false" />
    </application>

</manifest>